{% load static %}
<html>
    <head>
        <title>Quiz</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light" style="background-color: #93ab9d;">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% block headername %}
                Student Quiz
                {% endblock %}
            </a>
            {% if auth %}
                <a href="{% url 'logout' %}" class="d-flex navbar-brand">Logout</a>
                
            {% endif %}
            </div>
        </nav>
        {% block content %}
            
        {% endblock %}
    </body>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
</html>